<!DOCTYPE html>
<html lang="en">

	<head>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js"></script>
		<script data-ad-client="ca-pub-9231912947022457" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<link rel="stylesheet" href="/css/header.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
	
		<link rel='icon' href='/favicon.ico' type='image/x-icon' />
	

		<title id="siteTitle">lol</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<style>
			.textarea-container {
				width: 35em;
			}
            .slider {
                width: 24em;
            }
			
			@media screen and (max-width: 450px) {
				.textarea-container {
					width: 26em;
				}
                .slider {
                    width: 18em;
                }
			}
			
			@media screen and (max-width: 400px) {
				.textarea-container {
					width: 20em;
				}
                .slider {
                    width: 12em;
                }
			}
			
			@media screen and (max-width: 350px) {
				.textarea-container {
					width: 16em;
				}
                .slider {
                    width: 8em;
                }
			}
		</style>

		<script>$(document).ready(function(){$("#siteTitle").html(window.location.hostname),$("#siteName").html(window.location.hostname),$.getJSON("/visits",function(a){document.getElementById("counter").innerHTML=`<small>Site visits: ${a.visits}</small>`})});</script>
	</head>

	<body style="color:black; background-color: white;">
		<main align="center" style="width: 100%;">
			<div id="status" style="font-size: 300%;">á´…ysgraá´˜hia!</div>
			<div>
				<textarea id="textInput" class="textarea-container" rows="10" cols="60">Enter your text here!</textarea>
			</div>
			<div>
				Threshold<input class="slider" type="range" min="0" max="100" value="6.67" step="0.01" id="threshold"></input><input style="width: 3.5em" type="number" min="0" max="100" value="6.67" step="0.01" id="thresholdNumber"></input>
			</div>
			<div id="currentThreshold">Current Threshold: DEFAULT - 1/15 ~ 6.67%</div>
			<div>
				<textarea id="result" class="textarea-container" rows="10" readonly></textarea>
			</div>
		</main>
		
		<script>
			dysgraphia()
			$("#textInput").on("input", dysgraphia);
			$("#threshold").on("input", changeThreshold);
			$("#thresholdNumber").on("input", changeThresholdNumber);
			
			
			function changeThreshold(){
				$("#thresholdNumber").val($("#threshold").val());
				$("#currentThreshold").text("Current Threshold: " + $("#threshold").val() + "%");
				dysgraphia()
			}
			
			function changeThresholdNumber(){
				$("#threshold").val($("#thresholdNumber").val());
				$("#currentThreshold").text("Current Threshold: " + $("#threshold").val() + "%");
				dysgraphia()
			}
			
			function dysgraphia(){
				let str = $("#textInput").val();
				let threshold = parseFloat($("#threshold").val()) / 100;
				let table = {
					cap: "ABCDEFGHIJKLMNOPQRSTUVWXYZ",
					small: "á´€Ê™á´„á´…á´‡êœ°É¢ÊœÉªá´Šá´‹ÊŸá´É´á´á´˜Ç«Ê€sá´›á´œá´ á´¡xÊá´¢",
					normal: "abcdefghijklmnopqrstuvwxyz",
					super: "áµƒáµ‡á¶œáµˆáµ‰á¶ áµÊ°á¶¦Ê²áµË¡áµâ¿áµ’áµ–áµ Ê³Ë¢áµ—áµ˜áµ›Ê·Ë£Ê¸á¶»",
					subscript: ["â‚", "áµ¦", "ð’¸", "ð’¹", "â‚‘", "ð’»", "ð“°", "â‚•", "áµ¢", "â±¼", "â‚–", "â‚—", "â‚˜", "â‚™", "â‚’", "â‚š", "áµ©", "áµ£", "â‚›", "â‚œ", "áµ¤", "áµ¥", "ð“Œ", "â‚“", "áµ§", "ð“"],
					number: { "o": "0", },
					halfOrSilent: { "i": "'", "l": "'" },
					special: { " ": ["", "  ", "   "] }
				};
				
				let result = str.split("\n").map(line => {
					return line.split("").map(c => {
						if (c.match(/[a-z]/i)){
							let offset = 0;
							if (c.match(/[a-z]/)) offset = -32;
							let charPos = c.charCodeAt() + offset - 65;

							if (Math.random() < threshold) return table.cap[charPos];
							if (Math.random() < threshold) return table.small[charPos];
							if (Math.random() < threshold) return table.normal[charPos];
							if (Math.random() < threshold) return table.super[charPos];
							if (Math.random() < threshold) return table.subscript[charPos];
						}

						if (table.number[c] && Math.random() < threshold) return table.number[c];
						if (table.halfOrSilent[c] && Math.random() < threshold) return table.halfOrSilent[c];
						if (table.special[c] && Math.random() < threshold/2) return table.special[c][Math.floor(Math.random() * table.special[c].length)];
						
						return c;
					}).join("")
				}).join("\n")
				$("#result").text(result);
			}
		</script>
	</body>
</html>
